<form id="input-form">
    <div class="form-group mx-auto" >
      <label for="exampleInputEmail1">Account</label>
      <input type="text" class="form-control" id="Account" placeholder="Example: Cordis2NZ">
    </div>
    <div class="form-group mx-auto" >
        <label for="exampleInputEmail1">From Table</label>
        <input type="text" class="form-control" id="FromTable" placeholder="Example: Orders">
    </div>
    <div class="form-group mx-auto" >
        <label for="exampleInputEmail1">Desired Table</label>
        <input type="text" class="form-control" id="DesireTable" placeholder="Example: Products">
    </div>
    <div class="form-group mx-auto" >
        <label for="exampleInputEmail1">Desired Field Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Example: Products_16">
    </div>

    <div class="form-row text-center">
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </div>
</form>