<app-navbar></app-navbar>

<div id="container">
  <div id="content">
    <div style="width: 80%; margin-left: auto; margin-right: auto;">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-dark" width="300px">Log In</button>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br>

    </div>
  </div>
</div>

<div appParallax [ratio]="0.4" id="square">
  <img src="assets/Images/image1.jpg">
  <img src="assets/Images/image3.jpg">
</div>

<div appParallax [ratio]="0.7" id="rectangle">
  <img src="assets/Images/image2.jpg">
</div>
